body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.item{
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2 ease-in-out;
}
.item img:hover{
    transform: scale(1.1);
}